extend ../layout

block head
block body
  h2 dictionary/list.jade

  table#data-table
    thead
      tr
        th
          = "#"
        th
          = "id"
        th
          = "lemma"
    tbody
    tfoot
block footer
  //script(src="/js/dictionary/list.js")